<div class="main-header">
    <div class="main-title">
        <label class="font-weight-700">INVENTO</label>
        <label class="p-l-5">ADMIN</label> 
    </div>
    <div class="main-side">
        <img class="w-35px h-35px" src="~/assets/icon/profile.png" alt=""/>
        <label class="m-l-10">alexander</label>
        <button class="m-x-10 btn-image" type="submit">
            <img class="w-25px h-25px" src="~/assets/icon/logout.png" alt=""/>
        </button>
    </div>
</div>
