@{
    ViewData["Title"] = "Category";
}

<div class="page-content">
    <div>   
        <div class="page-header">
            <label>Manage Category</label>
        </div>

        <div class="page-selection m-t-20">
            <div>    
                <img class="m-x-15" src="@Url.Content("~/assets/icon/category.png")" alt="Category Logo"/>
                <label class="m-l-10 m-t-5">Categories</label>
            </div>    
            <div>
                <button id="refresh-page" class="main-btn main-btn-primary h-30px w-150px m-l-35 m-r-15" type="submit">
                    <img src="@Url.Content("~/assets/icon/refresh.png")" alt="Refresh Logo"/> 
                    <span>Refresh</span>
                </button>
            </div>
        </div>
        <div id="category-partial"></div>
    </div>
    <script>
        $(document).ready(function() { 
            const reload = $('div[id$=main-reloading]');
            const handleRefresh = $('#refresh-page');
            const mainPartial = $('#category-partial');
           
            handleRefresh.click(function() {
                reload.show();
                $.ajax({
                    type: 'GET',
                    url: `@Url.Action("List", "Category")`,
                    cache: true
                }).done(function(res) {
                    mainPartial.empty().append(res);
                    reload.hide();
                }).fail(function(a, b, c) {
                    console.log(c);
                });
            });   
            
            reload.show();
            $.ajax({
                type: 'GET',
                url: `@Url.Action("List", "Category")`,
                cache: true
            }).done(function(res) {
                mainPartial.empty().append(res);
                reload.hide();
            }).fail(function(a, b, c) {
                console.log('It is error');
                console.log(c);
                handleErrorPage();
            });
            
            function handleErrorPage() {
                const url = '@Url.Action("ErrorPage", "Home")';
                $.ajax({
                    type: 'GET',
                    url: url,
                    cache: true
                }).done(function(res) {
                    $('#main-page').empty().append(res);
                    reload.hide();
                })
            }
        });
    </script>
</div>





