@{
    ViewData["Title"] = "Room";
}

<div class="page-login">
    <img src="@Url.Content("~/assets/photo/background.jpg")" alt="Background"/>
    <div>
        <div>
            <label>INVENTO</label>
            <label>Welcome to Inventory Management</label>
            <label>Username</label>
            <input id="username" type="text" class="main-textfield"/>
            <label>Password</label>
            <input id="password" type="password" class="main-textfield"/>
        </div>
    </div>
    <script>
        $(document).ready(function() {
          
        });
    </script>
</div>