<h2>
    Supplier
</h2>

<script>
    $(document).ready(function() {
        console.log('Checking the print');
        const database = firebase.database();
        console.log('Adding data');
        database.ref("User").set({name: 'alex'});
    });
</script>